body {
     background-color: #F5F5F5; 
    
 }
.fonts {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 30px 160px;
}
.navhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    
}
.navBtn {
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #006A50;
}
.navBtn:hover{
    background-color: #5490F5;
    color: #FFFFFF;
    transition: 0.5s ease;
}
.banner {
    display: flex;
    justify-content: space-around;
    background-color: #C6E4D6;
    margin: 0 160px;
    border-radius: 24px;
    padding: 100px 80px;
}
.bannerTitle {
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.bannerHeading {
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    margin-top: 16px;
}
.bannerBtn {
    font-weight: 600;
    font-size: 18px;
    padding: 17px 34px;
    color: #FFFFFF;
    background-color: rgba(0, 106, 80, 1);
    margin-top: 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.bannerBtn:hover {
    background-color: #32be8b;
    color: #FFFFFF;
    transition: 0.5s ease;
}
.visionfuture {
    margin: 80px 160px;
}
.visionContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.visionheading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #0E0E0E !important
}
.visiontitle {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
}
.vision {
    background-color: rgba(84, 144, 245, 0.2);
    border: none;
    padding: 32px;
    border-radius: 16px;
}
.vision.vision2 {
    background-color: rgba(198, 228, 214, 1);
}
.vision.vision3 {
    background-color: rgba(247, 235, 207, 1);
}
.vision img {
    padding: 20px 0;
}
.futureheading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 1);
}
.futuredetails {
    font-size: 16px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}
.visionBtn {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.visionBtn.visionBtn1 {
    background-color: #5490F5;
    color: #FFFFFF;
    border: 1px solid #5490F5;
    cursor: pointer;
}
.visionBtn.visionBtn1:hover{
    background: rgb(82, 82, 231);
    border: 1px solid #5490F5;
    color: #e9edf4;
    transition: 0.5s ease;
}
.visionBtn.visionBtn2 {
    background-color: #09A15C;
    color: #FFFFFF;
    border: 1px solid #09A15C;
    cursor: pointer;
}
.visionBtn.visionBtn2:hover{
    background: rgb(26, 211, 26);
    border: 1px solid #09A15C;
    color: #ffffff;
    transition: 0.5s ease;
}
.visionBtn.visionBtn3 {
    background-color: #FFC239;
    color: #FFFFFF;
    border: 1px solid #FFC239;
    cursor: pointer;
}
.visionBtn.visionBtn3:hover{
    background: rgb(233, 197, 106);
    border: 1px solid #FFC239;
    color: #ffffff;
    transition: 0.5s ease;
}
.yunus{
    /* position: relative; */
    margin: 80px 160px;
}
.yunusImg {
 position: relative;
}
.yunusImg img {
    position: absolute;
    padding: 24px;
}
.yunusContent {
    /* position: absolute; */
    top: 5%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 48px 24px;
}
.yunusDetails {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    font-weight: 400;
}
.yunusheading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    color: rgba(14, 14, 14, 1)
}
.yunustitle {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    font-weight: 400;
}
.news {
    margin: 80px 160px;
}
.newsheading {
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.newstitle {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

